# Set the registry to use for installing packages
registry=https://registry.npmjs.org/

# Set the default location for storing downloaded packages
cache=~/.npm

# Set the timeout for HTTP requests
timeout=60000

# Add a new scope and registry for a custom package
@mycompany:registry=https://npm.mycompany.com/


